<div class="container">
  <h1>About Us</h1>
  <img
    src="../../../assets/images/logo-no-background.png"
    alt="About Us Image"
    class="about-us-img"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec sodales
    nulla. Vestibulum auctor mattis est, vel tincidunt justo tempus nec.
    Phasellus quis justo varius, ultricies est nec, mattis risus. Morbi in est
    felis. Nulla facilisi. Phasellus ac dui feugiat, consequat justo vel,
    fringilla ex. Nulla at ullamcorper ex.
  </p>
  <p>
    Sed eu lorem vitae eros sagittis ultrices sed vel turpis. Integer faucibus
    congue convallis. Aliquam malesuada nunc eget ex consequat, quis vehicula
    metus congue. Sed ut suscipit ipsum, et varius ex. Nam sit amet convallis
    risus. Nam vitae odio bibendum, posuere tortor nec, ultricies libero.
  </p>
  <p>
    Curabitur eget ipsum turpis. Mauris convallis felis et erat suscipit, in
    facilisis est placerat. Pellentesque habitant morbi tristique senectus et
    netus et malesuada fames ac turpis egestas. Vestibulum varius ex id leo
    rutrum dictum. Cras aliquam eros non odio pellentesque bibendum. Fusce
    tincidunt eros ligula, nec suscipit eros lobortis eu. Nam finibus malesuada
    elit, ac vestibulum turpis fringilla in.
  </p>
</div>
